<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>交易系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keyword" content="比特币价格,比特币交易平台,区块链,数字化资产,比特币行情,AT交易所,USDT,莱特币,BCH,以太坊,ETH,以太经典,进行币币交易" />
    <meta name="description" content="description:AT交易所是一家集数字化资产、投资服务、资讯服务于一体的国际化区块链资产交易平台。提供比特币,莱特币(LTC),以太坊(ETH),比特币现金(BCH),以太经典(ETC)达世币(DASH)等虚拟货币以比特币(BTC)、USDT进行交易！提供实时比特币价格,比特币行情。">
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/font/iconfont.css">
    <link rel="stylesheet" href="../../assets/css/layout.css">
    <script type="text/javascript" src="../../script/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../script/tools/crypto-js.js"></script>
    <script type="text/javascript" src="../../script/tools/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../script/tools/md5.min.js"></script>
    <script type="text/javascript" src="../../script/tools/k_tools.js"></script>
    <script type="text/javascript" src="../../script/tools/loadSiteInfo.js"></script>
    <script type="text/javascript" src="../../script/tools/jquery-ui.js"></script>
    <script type="text/javascript" src="../../script/trade/tools.js"></script>
    <script type="text/javascript" src="../../script/center_toos/center_tools_new.js"></script>
    <script type="text/javascript" src="../../script/template.js"></script>
    <script type="text/javascript" src="../../script/jqPaginator.js"></script>
    <script type="text/javascript" src="../../script/layer.js"></script>
    <script src="../../assets/js/translate/jquery.i18n.properties/jquery.i18n.properties.min.js" charset="utf-8"></script>
    <script src="../../assets/js/translate/i18n.config.js" charset="utf-8"></script>

</head>
<body>
    <div class="view_body help_center_view_body">
        <header class="header header-other" id="header"></header>
        <div class="negative_content_page">
            <div class="dynamic-width negative_content">
                <div class="leftbar_padding clearfix main-help-center">
                    <div class="help-leftbar">
                        <!-- <h2 translate="last_message_5">帮助中心</h2> -->
                        <ul id="li_typeList"></ul>
                    </div>
                    <div class="help-right">
                        <!-- <div class="help-right-title">
                            <h1 id="h1_title"></h1>
                            <dl translate="weizhi_bangzhuzhongxin">位置: 首页 > 帮助中心 > <span class="c_blue2" translate="xiangqing">详情</span></dl>
                        </div> -->
                        <div class="news-content">
                            <h1 id="h2_title"></h1>
                            <h2 id="createTime"></h2>
                            <div class="news-content-info" id="div_content"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <footer class="footer" id="footer"></footer>
    </div>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script type="text/javascript" src="../../assets/js/amazeui.min.js"></script>
<script type="text/javascript" src="../../assets/js/count-number.js"></script>

<script type="text/javascript">
    $(function () {
        $.ajaxSendData("", "/api/article/type/list", function(resData){
            var da = {"list": resData.data};
            var _html = template("typelist", da);
            $("#li_typeList").html(_html);
        });
        getNewDetailsByID();
        $("#header").load("../common/commonHeader.html?version=" + $.version);
        $("#footer").load("../common/commonFooter.html?version=" + $.version);

    });

    function errorImg(obj) {
        $.loadDefaultImg3(obj);
    }

     /*标题位置判断*/
   function getHByID() {
        $(".icon-help1").html(langPkg.getI18N("help_first2"));
        $(".icon-help2").html(langPkg.getI18N("help_first3"));
        $(".icon-help3").html(langPkg.getI18N("last_message_5"));
        $(".icon-help4").html(langPkg.getI18N("last_message_1"));
        $(".icon-help5").html(langPkg.getI18N("shangxianyuxiazai"));
        $(".icon-help6").html(langPkg.getI18N("xiazaizhongxin"));
        $(".icon-help1").html(langPkg.getI18N("help_first2"));
   }  
    function getNewDetailsByID() {
        var id = $.getUrlParam("id")

        var param = {
            id: id
        }
        $.ajaxSendData(param, "/api/article/detail", function(resData){
            $("#div_content").html(resData.data.content);
            $("#createTime").html(resData.data.createTime);
            $("#h2_title").html(resData.data.title);
            $("#h1_title").html(resData.data.title);
        });
        getHByID();
    }

    template.helper('_sort', function () {
        return $.getUrlParam("sort");
    });
    template.helper('_IsNews', function (str) {
        var type = $.getUrlParam("type");
        if (type == str) {
            return true;
        } else {
            return false;
        }
    });

    template.helper('_imgPath', function (str) {
        if (str == '' || str == null) {
            return "../../images/default/defaultIndexImg.jpg"
        } else {
            return $.imgFilePath() + str;
        }
    });

    template.helper('_title', function (str) {
        if (str.length > 15) {
            return str.substring(0, 15) + "...";
        }
        return str;
    });

    /*内容限制*/
    template.helper('_content', function (str) {
        if (str.length > 100) {
            return str.substring(0, 100) + "...";
        }
        return str;
    });

    template.helper('_aboutcontent', function (str) {
        if (str.length < 0) {
            return false;
        }
        return str;
    });


    template.helper('_sort', function () {
        return Number($.getUrlParam("sort"));
    });
    template.helper('_TypeIsNotNull', function () {
        if ($.getUrlParam("type") == '' || $.getUrlParam("type") == null) {
            return false;
        } else {
            return true;
        }
    });
    template.helper('_getType', function () {
        return $.getUrlParam("type");
    });
    template.helper('_typeIsHelp', function (str) {
        if (str == 'help') {
            $("#div_list").attr("class", "help-list");
            return true;
        } else {
            return false;
        }
    });
    template.helper('_typeIsNotice', function (str) {
        if (str == 'notice' || str == 'article') {
            $("#div_list").attr("class", "news-list");
            return true;
        } else {
            return false;
        }
    });
    template.helper('_typeIsNot', function (str) {
        if (str != 'notice' && str != 'article' && str != 'news' && str != 'help' && str != 'aboutus' && str != 'download') {
            $("#div_list").attr("class", "news-list");
            return true;
        } else {
            return false;
        }
    });
    template.helper('_typeIsDownload', function (str) {
        if (str == 'download') {
            $("#div_list").attr("class", "down-list");
            return true;
        } else {
            return false;
        }
    });

    template.helper('_typeIsAboutus', function (str) {
        if (str == 'aboutus') {
            $("#div_list").attr("class", "");
            return true;
        } else {
            return false;
        }
    });
    template.helper('_typeIsNews', function (str) {
        if (str == 'news') {
            $("#div_list").attr("class", "news-list-pic");
            return true;
        } else {
            return false;
        }
    });
    template.helper('_getSort', function (str) {
        return $("#hid_sort").val();
    });
    /*图标判断*/
    template.helper('_getListClassName', function (str) {
        switch (str) {
            case 'notice':
                return 'icon-help icon-help1';
            case 'news':
                return 'icon-help icon-help2';
            case 'help':
                return 'icon-help icon-help3';
            case 'aboutus':
                return 'icon-help icon-help4';
            case 'article':
                return 'icon-help icon-help5';
            case 'download':
                return 'icon-help icon-help6';
            default :
                return 'icon-help icon-help3';
        }
    });

    /*帮助中心图标判断*/
    template.helper('_getHelpClassName', function (id) {
        //alert(id);
        switch (id + "") {
            case '143':
                return 'icon-help-list1';
            case '117':
                return 'icon-help-list2';
            case '115':
                return 'icon-help-list3';
            case '114':
                return 'icon-help-list4';
            case '113':
                return 'icon-help-list4';
            case '112':
                return 'icon-help-list5';
            default :
                return 'icon-help3';
        }
    });
</script>

<!--左边导航-->
<script id="typelist" type="text/html">
    {{each list as value i}}
    {{if _TypeIsNotNull()}}
    {{if value.name == _getType()}}
    <li class="curr"><a href="help_center.html?sort={{value.sort}}"
           class="{{_getListClassName(value.name)}}">{{value.title}}</a></li>
    <input type="hidden" id="hid_type" value="{{value.name}}"/>
    <input type="hidden" id="hid_sort" value="{{value.sort}}"/>
    {{else}}
    <li><a href="help_center.html?sort={{value.sort}}" class="{{_getListClassName(value.name)}}">{{value.title}}</a>
    </li>
    {{/if}}
    {{else}}
    {{if value.sort == _sort()}}
    <li class="curr"><a href="help_center.html?sort={{value.sort}}"
           class="{{_getListClassName(value.name)}}">{{value.title}}</a></li>
    <input type="hidden" id="hid_type" value="{{value.name}}"/>
    <input type="hidden" id="hid_sort" value="{{value.sort}}"/>
    {{else}}
    <li><a href="help_center.html?sort={{value.sort}}" class="{{_getListClassName(value.name)}}">{{value.title}}</a>
    </li>
    {{/if}}
    {{/if}}
    {{/each}}
</script>

</body>
</html>
